@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;600;700&family=Nunito:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.65rem;
  box-sizing: border-box;
  font-size: 1.65rem;
  font-weight: 400;
  font-family: sans-serif; }

.container {
  display: grid;
  grid-template-rows: 80vh; }

.sidebar {
  background-color: #c69963; }

.header {
  background-color: #54483a; }

.realtors {
  background-color: #101d2c; }

.features {
  background-color: #aaa; }

.story__pictures {
  background-color: #c69963; }

.story__content {
  background-color: #f9f7f6; }

.homes {
  background-color: #101d2c; }

.gallery {
  background-color: #54483a; }

.footer {
  background-color: #101d2c; }
